@font-face {
    font-family: 'American Typewriter';
    src: url(../fonts/american-typewriter.ttf);
}
@font-face {
    font-family: 'Avenir Light';
    src: url(../fonts/AvenirLTStd-Book.woff);
}
@font-face {
    font-family: 'Avenir Heavy';
    src: url(../fonts/AvenirLTStd-Heavy.woff);
    font-weight: 700;
}

body {
  font-family: 'Avenir Light', helvetica-neue, helvetica, sans-serif;
}
h1,h2,h3,h4,h5 {
  font-family: 'American Typewriter', serif;
}
hr {
  border-top: 2px solid $darkteal;
}
br, strong{
  font-family: 'Avenir Heavy', helvetica-neue, helvetica, sans-serif;
}
