.tabbable {
  .nav{
    li {
      margin-top: 0;
      font-size: 2em;
      font-weight: 300;
      &.active {
        background-color: $teal;
        a {
          color: white;
        }
      }
      a {
        color: $teal;
        &:hover, &:focus{
          color: white;
          background-color: $teal;
        }
      }
    }
  }
}
