.dropdown:hover .dropdown-menu {
  @media (min-width: 768px){
    display: block;
  }
}
.dropdown-menu {
  border: 0;
}
.dropdown-menu>li>a {
  color: $grey;
  padding: 10px 20px;
  &:hover {
    color: $red;
  }
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
  background-color: transparent;
}
.navbar {
  border-radius: 0;
  margin-bottom: 0;
  border: 0;
  .nav {
    li {
      text-transform: uppercase;
      color: $grey;
      &.nav-date{
        line-height: 50px;
        font-size: 2.5rem;
        color: $red;
      }
      a:hover, a:focus, a:hover {
        background-color: transparent;
        font-weight: normal;
      }
    }
  }

}
.navbar-brand {
  padding: 0;
  padding-top: 6px;
  padding-left: 10px;
  padding-right: 25px;
  img {
    max-width: 300px;
    @media (max-width: 767px){
      max-width: 250px;
    }
  }
}

.navbar-toggle .icon-bar{
  background-color: $teal
}
